<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <table callpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="200" valign="top">
                        <img class="image_fix" src="//placehold.it/100x100" alt="Meadowlark Travel" width="180" height="220" />
                    </td>
                </tr>
                <tr>
                    <td width="200" valign="top">
                        <p>
                            Obrigado por hospedar na Meadowlark Travel, {{cart.billing.name}}.
                        </p>
                        <p>
                            Seu número de reserva é {{cart.number}}.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="200" valign="top">
                        Houve problemas com sua reserva? Contate-nos <span class="mobile_link">(00) 0000-0000</span>.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>