<p>Obrigado por reservar sua viagem com a Meadowlark Travel, {{cart.billing.name}}!</p>
<p>Seu número de reserva é {{cart.number}} e um e-mail foi enviado para {{cart.billing.email}} para seus registros.</p>